.zip-form {
    display: flex;
    width: 95%;
    max-width: 1250px;
    margin: 20px auto;
    position: relative;
    align-items: center;

    .input {
        width: 100%;
        min-width: 300px;
        padding: 17px 30px;
        line-height: 30px;
        font-size: 25px;
        border-radius: 50px;
        border: none;
        box-shadow: inset 0 0 5px black;
        transition: 0.2s;

        &:focus {
            box-shadow: 0 0 10px 100vh rgba(0, 0, 0, 0.3);
            outline: none;
        }
    }

    .zip-submit,
    .toggle {
        font-size: 15px;
        height: 30px;
        text-transform: uppercase;
        color: white;
        border: none;
        position: absolute;
        border-radius: 8px;
        background-color: rgb(9, 62, 121);
        box-shadow: 0 0 7px black;
        transition: 0.2s all;
        cursor: pointer;

        &:hover {
            background-color: #0183bf;
            box-shadow: 0 0 4px black;
        }

        &:active {
            transform: scale(0.9);
            box-shadow: none;
        }
    }

    .toggle {
        right: 99px;
        line-height: 30px;
        padding: 0 8px;
        font-family: Arial;

        .toggle-label {
            margin-bottom: 4px;
        }

        .toggle-selection-labels {
            font-size: 12px;
        }

        .selected {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    .zip-submit {
        right: 12px;
        width: 75px;
    }
}

.forecasts {
    display: flex;
    justify-content: center;

    .day {
        background-color: white;
        box-shadow: 0 0 7px black;
        border-radius: 10px;
        color: black;
        margin: 8px;
        display: flex;
        flex-direction: column;
    }

    .forecast-container {
        display: inline-block;
        width: 220px;
        min-height: 87px;
        padding: 8px;
        vertical-align: top;
        background: white;
        border-bottom: 1px solid black;

        &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .hour {
            text-align: left;
            height: 27px;
        }

        .icon-wrapper,
        .icon {
            display: inline-block;
            width: 60px;
            height: 60px;
        }
        .details,
        .description,
        .temperature,
        .wind {
            font-size: 16px;
            display: inline-block;
            width: 152px;
            vertical-align: top;
            text-align: left;
            padding-left: 8px;
        }
    }
}

@media (max-width: 800px) {
    .zip-form {
        .input {
            font-size: 18px;
            line-height: 25px;
            padding: 14px 18px;
        }

        .zip-submit,
        .toggle {
            height: 25px;
            font-size: 13px;
            box-shadow: 0 0 5px black;
        }

        .toggle {
            right: 91px;
            line-height: 25px;
        }

        .zip-submit {
            right: 8px;
        }
    }

    .forecasts {
        flex-direction: column;

        .day {
            display: block;
            width: 230px;
            margin: auto;
        }
    }
}
